
body {
	perspective: 200rem;
	background-color: rgb(240, 203, 255);
}

.app {
	max-width: 31rem;
}

.form {
	max-width: 31rem;
	background-color: #fff;
	border-radius: 10px;
	padding: 7rem 1.5rem 0;
}

.flex-block {
	display: flex;
	justify-content: space-between;
}

.card-block {
	position: relative;
	max-width: 24rem;
	height: 14rem;
	background-color: rgb(70, 23, 31);
	background-image: url('./bg.png');
	background-size: cover;
	background-position: top center;
	border-radius: 20px;
	margin: 0 auto -5rem;
}

.card-front {
	padding: 5px 10px;
}

.card-header_front {
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.card-header_front svg {
	align-self: center;
}

.card-header_front img {
	align-self: center;
	max-width: 110px;
}

.card-body_front {
	min-height: 46px;
	padding: 10px 5px;
	text-align: center;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
}

.card-footer {
	margin-top: 20px;
	padding: 10px 5px 0;
	display: flex;
	justify-content: space-between;
}

.card-footer h3 {
	min-height: 36px;
	padding: 7px;
}

.card-footer_expires span {
	padding-left: 5px;
}

.card-footer_expires h3 {
	text-align: center;
	min-width: 5rem;
}

.card-logo {
	min-height: 60px;
	max-width: 50px;
	align-self: center;
}

.card-logo img {
	max-width: 50px;
}

.card-back {
	padding-top: 2rem;
}

.card-header_back {
	width: 100%;
	height: 2rem;
	background-color: #000;
}

.card-body_back {
	display: inline-block;
	padding: 5px;
	font-size: 1rem;
	margin: 1.5rem calc(100% - 5.5rem);
	text-align: right;
	background-color: #fff;
	min-width: 4rem;
	height: 25px;
}

.selected {
	border: 1px solid #fff;
	border-radius: 1.5rem;
}

.black {
	border: 1px solid #000;
}

.anim-rotate-front {
	animation: rotate-f linear .8s;
}

.anim-rotate-back {
	animation: rotate-b linear .8s;
}

.anim-show {
	animation: show linear .8s;
}

@keyframes rotate-f {
	from {
		transform: rotateY(-90deg);
	}

	to {
		transform: rotateY(0deg);
	}
}

@keyframes rotate-b {
	from {
		transform: rotateY(-90deg);
	}

	to {
		transform: rotateY(0deg);
	}
}

@keyframes show {
	from {
		transform: translateY(10px);
		/* opacity: 0; */
	} 
	to {
		transform: translateY(0);
		/* opacity: 1; */
	}
}
