* {
	box-sizing: border-box;
}

.input-block {
	margin-bottom: 2rem;
}

.input-title {
	font-family: 'Courier New', Courier, monospace;
	margin: 1rem 0;
}

.input-content {
	padding: 9px 14px;
	border-radius: 5px;
	border: 1px solid gray;
	width: 100%;
	align-self: center;
}

.select-content {
	padding: 8px 14px;
	border-radius: 5px;
	border: 1px solid gray;
	margin-right: 6px;
	min-width: 7rem;
	align-self: center;
}
